.cabecalho{
    height: 30px;
}
.nome-page_post{
    display: flex;
    height: 100px;
    align-items: center;
    
    
    padding-left: 20px;
}
.btn-voltar{
    background-color: transparent;
    border: none;

}
.btn-voltar img{
    background-color: transparent;
    
}

.container-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:30px;
    margin-right: 30px;
    
}

.add-comen_post{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.add-comen_post input{
    background-color: var(--cor-input-destaque);
    border: none;
    height: 60px;
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}
.Publicar{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.Publicar button{
    border: none;
    
    background-color: var( --cor-fonte-primaria);
    color: var(--cor-fundo);
    padding: 8px 20px;

    border-radius: 5px;
    align-self: flex-end;
}
.perfil-comentario_post{
    display: flex;
    gap: 10px;
}
.comentario-publicado_post{
    margin-bottom: 30px;
}
.texto-comentario_perfil_post{
    background-color: var(--cor-input-destaque);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.comentarios-container_post{
    width: 100%;
}

@media (min-width: 1024px){
   
    .container-post{
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 30px;    
    

    }
    .div-container-main{
        min-height: 87vh;
    }
    
    
    
    .container-post-visitado{
        margin: 20px;
        width: 45%;
    }
    .comentarios-container_post{
        width: 35%;
        margin:100px 0px;
        padding-left: 30px;
        border-left: solid rgba(128, 128, 128, 0.346) 5px;
    }
}
