.container-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 70px;
    
}



.card_post{
    background-color: var(--cor-fundo-secundaria);
    min-height: 50px;
    max-width: 600px;
    max-height: 450px;
    width: 80vw;
    margin: 15px 0px;
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    
}

.titulo_post{
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    
}

.data_post{
    font-size: 10px;
    background-color: transparent;
    
}

.conteudo_post{
    margin: 40px 0;
    background-color: transparent;
    word-break: break-all;
    
}

.container-interacao{
    margin-top: auto;
    background-color: transparent;
    display: flex;
}
.botao_interacao{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    
    
}

.botao_interacao img ,p{
    background-color: transparent;
    margin: 1vw;
}

@media (min-width: 1024px){
    .container-cards{
        margin: 0;
        margin-top: 120px;
    }
}


