.nome-menu-desk_container{
    background-color: transparent;
}

.nome-page-novoPost{
    padding: 0;
    margin: 0;
}
.container-novoPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
    gap: 20px;
}

#titulo-novoPost,#conteudo-NovoPost,#local-NovoPost{
    width: 70%;
    max-width: 500px;
    background-color: var(--cor-input-destaque);
    border: none;
    border-radius: 5px;
    padding: 0 10px;
}

#titulo-novoPost{
    height: 48px;
    
}
#titulo-novoPost::placeholder{
    font-size: 24px;
    font-weight: bold;
    
}

#conteudo-NovoPost{
    padding: 10px 10px 200px 10px;
    
}
#conteudo-NovoPost,#local-NovoPost
::placeholder{
    text-align: start;

}
#local-NovoPost{
    height: 48px;
}
.chek-container h2{
    font-weight: bold;
    font-size: 18px;
}
.container-chek-tipoEvento{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    margin: 10px 0;
    
}


.div-btn-novoPost{
    display: flex;
    gap: 20px;

    margin-top: 30px;
}
.div-btn-novoPost button{
    border: none;
    
    width: 90px;
    height: 30px;
    border-radius: 5px;
}
.btn-novoPost-decartar{
    background-color: var(--cor-fundo-secundaria);
    color: var(--cor-fonte-primaria);
}


.btn-novoPost-publicar{
    background-color: var(--cor-fonte-primaria);
    color: var(--cor-fundo);
}

@media (min-width: 1024px){
   

    .body-novoevento-post{
     
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    
    }
}

