
.perfil-container{
    margin-top: 200px;
    color: var(--cor-fonte-primaria);
}


.foto-container {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-wrapper {
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#foto-perfil-preview {
    display: block; 
    max-width: 100%; 
    max-height: 100%;
}

.edit-icon {
    position: absolute; 
    bottom: 5px;
    right: 10px;
    width: 5px; 
    
    cursor: pointer;
    background-color: transparent;
}
.edit-icon img{
    background-color: transparent;
    width: 25px;
}



input[type="file"] {
    
    font-size: 0;
    
    height: 0;
    
    opacity: 0;
    
    width: 1px;
    
    cursor: pointer;
}


.container-info_perfil {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info p {
    margin-right: 10px;
}

.edit-icon-sobre img {
    width: 25px;
}
.edit-icon-sobre.hidden{
    display: none;
}

#quem-sou-eu-input {
    display: block;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5;
    margin-left: 10px;
}

.main-perfil{
    min-height: 80vh;
}





.info-sobre{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.curso-perfil{
    min-width: 100px;
    width: 60%;
    padding: 0;
    
}
.section-inputs-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}
.input-perfil{
    width: 70%;
    max-width: 487px;
    margin-left: 0 ;
    margin-right: 0;
}
.curso-sem-container{
    margin: 0 10px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}