
.perfil-container{
    margin-top: 200px;
    color: var(--cor-fonte-primaria);
    height: 700px;
}

.curso-perfil{
    min-width: 100px;
    width: 60%;
    padding: 0;
    width: 100%;
    
}
.section-inputs-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}
.input-perfil{
    width: 70%;
    max-width: 487px;
    margin-left: 0 ;
    margin-right: 0;
}
.curso-sem-container{
    
    display: flex;
    gap: 30px;
    justify-content: space-between;
    width: 70%;
    max-width: 487px;
}
.btn-sair{
    background-color: var(--cor-fundo-secundaria);
    color: var(--cor-fonte-primaria);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin-bottom: 30px;
    
}

.btn-atualizar{
    background-color: var(--cor-fonte-primaria);
    color: var(--cor-fundo-secundaria);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin-bottom: 30px;
    
}

.btn-deletar{
    background-color: crimson;
    color: var(--cor-fundo-secundaria);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin-bottom: 30px;
}

.delete-modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.delete-modal-div {
    background: white;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.delete-modal-buttons {
    display: flex;
    justify-content: space-around;
} 

.delete-modal-buttons button {
    margin: 0;
}

.div-btn-perfil{
    display: flex;
    width: 70%;
    max-width: 487px;
    justify-content: center;
    gap: 15px;
}

.div-sem-flex,.div-curso-flex{
    display: flex;
    flex-direction: column;
    
    
    
}
.div-sem-flex label,.div-curso-flex label{
    align-self: center;
}

@media (min-width: 1024px){
    
    .body-perfil{
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .perfil-container{
        margin-top: 150px;
        
    }
}