.required_input-div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-bottom: 10px;
}

.required_input-div p {
    margin: 0;
}

.required_input-div label {
    margin: 0;

}

.cadatro_container{
    display: flex;

}

.cadastro_msg{
    font-size: 24px;
    font-weight: 400;
    width: 70vw;
    
}
.cadastro_msg2{
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 8vw;
    letter-spacing: 1px;
}

.titulo-cadastro{
    margin-bottom: 25px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

#check-representative {
    margin-right: auto;
    width: 30px;
}

@media (min-width: 1024px){
    .main-cadastro{
        min-height: 100vh;
    }
    .login_container-input {
       width: 600px;
        border-radius: 10px;
        padding: 50px;
        position: relative; /* Use relative instead of fixed to enable grid centering */
        margin: 0;
    }
    .cadastro_msg2{
        margin: 20px;
    }
    .cadastro_msg{
        margin: 0;
        width: 600px;
    }
    #registerButton{
        margin: 0;
        width: 300px;
        align-self: center;
    }

}