.nav-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px 10px 0 0;
    border-top: 1px solid var(--cor-fonte-primaria);
}

.nav-container button{
    border: none;

}

.nav-container button img{
    width: 25px;
}